@charset "utf-8";

body {
	text-align:center;
	background-image: url(http://dongxiangjie.top/Pictures/bj_1.jpg);
	background-repeat: no-repeat;
	
}
body,td,th {
	font-size: 24px;
	color: blue;
}
#div_main{
	width:500px;
	height:100px;
	text-align:center;
}

</style>

